<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خانه</title>
</head>
<body>
    <a href="{% url 'main_app:buy_car' %}">خرید خودرو</a><br>
    <form method="POST" action="{% url 'main_app:delete_person' %}"><br>
        {% csrf_token %}
            <input name="delete_id_box" type="text" placeholder="enter id to delete person">
            <input type="submit" value="delete" style="color: rgb(236, 118, 118);">
    </form>
</body>
</html>